:root {
  --color-primary: rgba(99, 99, 238, 0.897);
  --color-secondary: tomato;
  --color-body: #918ca4;
  --color-text: white;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 2.4rem;
  line-height: 1.5;
}

/* Links */

a {
  text-decoration: none;
}

/* badges */

.badges {
  border-radius: 20px;
  font-size: 2rem;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badges--secondary {
  background-color: var(--color-secondary);
  color: var(--text-color);
}
.badges--primary {
  background-color: var(--color-primary);
  color: var(--text-color);
}

.badges--mini {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badges {
    font-size: 1.5rem;
  }

  .badges--mini {
    font-size: 1.2rem;
  }
}

/* Lists */

.list {
  list-style: none;
  padding: 0;
}

.list--tick {
  list-style-image: url("../images/tick.svg");
  padding-left: 3rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0rem;
  }
}

/* Icons */

.icon {
  width: 30px;
}

.icon--primary {
  fill: var(--color-primary); /* its provide color to svg  */
}

.icon-container {
  display: inline-flex;
  background-color: #a490f5;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

/* Button */

.btn {
  border-radius: 40px;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: center;
  display: inline-block;
}

.btn--primary {
  background: var(--color-primary);
  color: var(--color-text);
}

.btn--primary:hover {
  background: blue;
}

.btn--secondary {
  background: var(--color-secondary);
  color: var(--color-text);
}

.btn--secondary:hover {
  background: orangered;
}

.btn--block {
  width: 100%;
}

.btn--outline {
  background: none;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--outline:hover {
  color: azure;
  background: var(--color-primary);
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
