 <section class="container block block-domain">
      <header class="block__header">
        <h1>Starting at $9 per month</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti,
          exercitationem?
        </p>
        <div class="input-container">
          <input
            type="text"
            class="input"
            placeholder="Enter Domain Name here..."
          />
          <button class="btn btn--primary">
            <svg class="icon icon--small">
              <use xlink:href="images/spriteMosh.svg#search"></use>
            </svg>
          </button>
        </div>
      </header>
      <ul class="list grid block-domain__prices">
        <li>
          <span class="badges badges--secondary">.com $10</span>
        </li>
        <li>.space $10</li>
        <li>.info $10</li>
        <li>.net $10</li>
        <li>.xyz $10</li>
        <li>.sg $10</li>
      </ul>
    </section>