<section class="block block-testimonial">
  <header class="block__header">
    <h2 class="block__heading">what our Customers are Saying</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur,
      soluta!
    </p>
  </header>
  <div class="card grid grid--1x2 testimonial">
    <div class="testimonial__icon">
      <img src="images/testimonial.jpg" alt="" srcset="" />
      <span class="icon-container icon-container--accent">
        <svg class="icon--white icon--small">
          <use xlink:href="images/spriteMosh.svg#quotes"></use>
        </svg>
      </span>
    </div>

    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum placeat
        minima itaque saepe reprehenderit ad reiciendis amet voluptate esse ea
        hic fuga mollitia, quos fugiat corporis aliquam adipisci ullam officiis!
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/spriteMosh.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Rockey</h3>
            <p class="quote__oraganization">BCC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</section>
