<div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/spriteMosh.svg#snap"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title">this is heading</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, sed,
          corporis quas quis dolor nemo adipisci earum voluptatum iste molestiae
          accusantium optio, facilis dignissimos quod veritatis voluptatem
          deleniti quaerat asperiores?
        </p>
      </div>
    </div>