<nav class="navbar collapsible--expanded">
  <a href="/" class="navbar__img"><img src="images/logo.svg" alt="" /></a>
  <svg class="icon icon--primary navbar__menu">
    <use xlink:href="images/spriteMosh.svg#menu"></use>
  </svg>

  <ul class="list navbar__list collapsible__body">
    <li class="list__item nav__item"><a href="#">Hosting</a></li>
    <li class="list__item nav__item"><a href="#">VPS</a></li>
    <li class="list__item nav__item"><a href="#">Domain</a></li>
    <li class="list__item nav__item"><a href="#">Pricing</a></li>
  </ul>
</nav>
